.page-contents {
    width: 95%;
    max-width: 1024px;
    margin: 0px auto;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    height: 37px;
}

input {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 2;

    &.ng-invalid.ng-touched {
        border-color: #bf0000;
    }
}